body {
	font-family: Arial, Helvetica,'Segoe UI', sans-serif;
}

.container {
	max-width: 500px;
	margin: 50px auto;
}

pre {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 15px;
}

.code {
	position: relative;
}

.code .btn {
	position: absolute;
	right: 5px;
	top: 5px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.code:hover .btn {
	visibility: visible;
	opacity: 1;
}

.copy-link {
	text-align: center;
	margin: 50px;
	display: block;
}
.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip.copied .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.code .tooltip .tooltiptext {
	bottom: 30px;
	width: 60px;
	margin-left: -30px;
}